<style>
	@page {
	  margin-top:5%; 
	  margin-bottom:9%;
	  header: html_Chapter2Header;
	  footer: html_Chapter2Footer;
	}
	table td{border:1px solid #ccc;border-collapse: collapse; height:25px; text-align:left; padding-left:10px;}
	table{ font-size:12px;}
	h4,h3 { color: #006;}
	.title{ font-size:14px;color: #006; font-weight:bold;}
	
</style>
<div style="width:800px; margin:auto; background-color:#ffffff;">

<table style="width:100%; border-collapse: collapse;">
	<tr>
    	<td width="50%" ><img src="http://sante-expatrie-asie.com/asia/poe-ma.jpg" style="width:250px;" /></td>
        <td ></td>
    </tr>
    <tr>
    	<td width="50%" ><strong>ETUDE TARIFAIRE</strong></td>
        <td><strong>%month-year%</strong></td>
    </tr>
    <tr>
    	<td width="50%" style="line-height: 40px;" >
      	Risk : <strong> HEALTH PREMIUM / %type% <br /><span style="background-color: #F0E937; margin:10px 0 10px 0">%nom%</span>  <br />
      	Profession : %profession% <br />
      	Email : %email%
       </strong></td>
        <td>See policy benefits</td>
    </tr>
    <tr>
    	<td colspan="2">Audit Service - %office%</td>
    </tr>
    <tr>
    	<td>Quotation Nº : <strong>%quote_no%</strong></td>
    	<td>© Poema 2010/2017</td>
    </tr>
</table>
<br />
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2"><strong>Your Profil</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Country of nationality : </td>
    	<td style="border: none;"><strong>%nationality%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Date of birth  : </td>
    	<td style="border: none;"><strong>%1st_dob%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Date of birth of Spouse / partner : </td>
    	<td style="border: none;"><strong>%2nd_dob%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Number of children(s) to insure : </td>
    	<td style="border: none;"><strong>%nb_children%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Country of residence  : </td>
    	<td style="border: none;"><strong>%residence%</strong></td>
    </tr>
</table>
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">Date of issue  : <strong>%date_create%</strong></td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2">Quotation validity <strong>30 days</strong> – Subject to premium modifications. </td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2"><br />%indications%</td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2">
    	<br />
    	<strong>First %currency% cover or deductible</strong> <br />
    	<ul>
    		<li>Assistance cover, repatriation, medical evacuation additional.</li>
    	</ul>
    	</td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2"><br />Subject to medical questionnaire.</td>
    </tr>
</table>

<br />

<pagebreak />

%module_details%

<pagebreak />

<h3> ANNEXE - Installment Fees & Bank Fees.</h3>
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">
    	<strong>Instalment method : </strong><br />
    	<ul>
    		<li>Some companies can be increase the premium (8% up to 25%) for quarterly payment – and (4% up to 12%) for Semi-annual payment if instalment is requested. Please request us for more details.</li>
    		<li>Bank Fees : An additional cost can be apply for some companies for the bank transfer charge if installment is apply. (From 10$ to 25 $)</li>
    	</ul>
    	</td>
    </tr>
</table>
</div>