<style>
	@page {
	  margin-top:5%; 
	  margin-bottom:9%;
	  header: html_Chapter2Header;
	  footer: html_Chapter2Footer;
	}
	table td{border:1px solid #ccc;border-collapse: collapse; height:25px; text-align:left; padding-left:10px;}
	table{ font-size:12px;}
	h4,h3 { color: #006;}
	.title{ font-size:14px;color: #006; font-weight:bold;}
	
</style>
<div style="width:800px; margin:auto; background-color:#ffffff;">

<table style="width:100%; border-collapse: collapse;">
	<tr>
    	<td width="50%" ><img src="http://sante-expatrie-asie.com/asia/poe-ma.jpg" style="width:250px;" /></td>
        <td ></td>
    </tr>
    <tr>
    	<td width="50%" ><strong>ETUDE TARIFAIRE</strong></td>
        <td><strong>%month-year%</strong></td>
    </tr>
    <tr>
    	<td width="50%" style="line-height: 40px;" >
      	Risk : <strong> TARIFICATION SANTE / %type% <br /><span style="background-color: #F0E937; margin:10px 0 10px 0">%nom%</span>  <br />
      	Profession : %profession% <br />
      	Email : %email%
       </strong></td>
        <td>CF Annexes</td>
    </tr>
    <tr>
    	<td colspan="2">Audit Service - %office%</td>
    </tr>
    <tr>
    	<td>Quotation Nº : <strong>%quote_no%</strong></td>
    	<td>© Poema 2010/2017</td>
    </tr>
</table>
<br />
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2"><strong>Votre Profil</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Pays de nationalité : </td>
    	<td style="border: none;"><strong>%nationality%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Date de naissance  : </td>
    	<td style="border: none;"><strong>%1st_dob%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Date de naissance du conjoint/concubin : </td>
    	<td style="border: none;"><strong>%2nd_dob%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Nombre d'enfant(s) à assurer : </td>
    	<td style="border: none;"><strong>%nb_children%</strong></td>
    </tr>
    <tr>
    	<td style="border: none; width:40%">Pays de résidence  : </td>
    	<td style="border: none;"><strong>%residence%</strong></td>
    </tr>
</table>
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">Etude réalisé  le : <strong>%date_create%</strong></td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2">Cotation valable <strong>30 jours</strong> – sous reserve de Modification tarifaire</td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2"><br />%indications%</td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2">
    	<br />
    	<strong>ETUDE au 1er %currency% - Avec / sans Franchises</strong> <br />
    	<ul>
    		<li>Des garanties d'assistance rapatriement.</li>
    	</ul>
    	</td>
    </tr>
    <tr>
    	<td style="border: none;" colspan="2"><br />Sous réserve du questionnaire Médical.</td>
    </tr>
</table>

<br />

<pagebreak />

%module_details%

<pagebreak />

<h3> ANNEXE - Frais de Fractionnement & Frais bancaire Additionnel.</h3>
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">
    	<strong>Fractionnement : </strong><br />
    	<ul>
    		<li>Certaines compagnies appliquent une surprime si vous choisissez un paiement en plusieurs fois. De 4 a 12% au semestre – de 8 a 25% au Trimestre – Nous questionner.</li>
    		<li>Des frais bancaire supplementaires peuvent etre ajoutés pour certains contrats fractionnés au trimestre ou en mensuel (10 a 25$ selon les cas)</li>
    	</ul>
    	</td>
    </tr>
</table>
</div>