<style>
	@page {
	  margin-top:5%; 
	  margin-bottom:5%;
	  header: html_Chapter2Header;
	  footer: html_Chapter2Footer;
	}
	table td{border-collapse: collapse; height:25px; text-align:left; padding-left:10px;}
	.table td{border-collapse: collapse; border:1px solid #ccc; height:25px; text-align:left; padding-left:10px;}
	table{ font-size:12px;}
	h4,h3 { color: #006;}
	.title{ font-size:14px;color: #006; font-weight:bold;}
	li{padding-top:5px; }
	
</style>
<div style="width:800px; margin:auto; background-color:#ffffff;">

<table style="width:100%; border:none;">
	<tr>
    	<td width="20%" ><img src="http://sante-expatrie-asie.com/asia/poe-ma.jpg" style="width:150px;" /></td>
        <td style="text-align: center; border:1px solid #000; vertical-align: middle"><h2 style="margin: 0;">Comparaison d'assurance sante THAILANDE 2017</h2></td>
    </tr>
</table>
<br />
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">
			<strong>Poe-ma Insurance Brokers (Thailand) Co., Ltd.<br />
			Miss Arawan NAMAK<br /></strong>
			<strong>Tel:</strong> +66 (0) 81 912 4528  (FR/EN/TH)<br />
			<strong>E-mail:</strong> arawan.n@poe-ma.com<br />
			<strong>LineID:</strong> arawan14  <strong>Whatsapp:</strong> 0819124528<br />
			<strong>Skype:</strong>arawan64<br />
			www.poema-assurances.com<br />
			www.facebook.com/poemainsurance<br />
			www.health-insurance-asia.com<br />
			www.sante-expatrie-asie.com
		</td>
    </tr>
</table>

<br />
<h4>Vos information : </h4>
<table class="table" style="width:100%; border-collapse: collapse;">
	<tr>
    	<td width="20%" ><strong>Nom</strong></td>
    	<td width="20%" >%nom%</td>
    	<td width="20%"></td>
    	<td width="20%"></td>
    	<td width="20%"></td>
    </tr>
    <tr>
    	<td width="20%"><strong>Nationalité</strong></td>
    	<td >%nationality%</td>
    	<td ></td>
    	<td ></td>
    	<td ></td>
    </tr>
    <tr>
    	<td width="20%"><strong>Date de naissance</strong></td>
    	<td >%1st_dob%</td>
    	<td ></td>
    	<td ></td>
    	<td ></td>
    </tr>
    <tr>
    	<td width="20%"><strong>Age en 2017</strong></td>
    	<td >%1st_age%</td>
    	<td ></td>
    	<td ></td>
    	<td ></td>
    </tr>
    <tr>
    	<td ><strong>Pays de residence</strong></td>
    	<td colspan="4">%residence%</td>

    </tr>
</table>
<br />
<h4>%option_title% : </h4>
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">%indications%</td>
    </tr>
</table>

<pagebreak />

%module_details%

</div>