<style>
	@page {
	  margin-top:12%; 
	  margin-bottom:9%;
	  header: html_Chapter2Header;
	  footer: html_Chapter2Footer;
	}
	table td{border-collapse: collapse; height:25px; text-align:left; padding-left:10px;}
	.table td{border-collapse: collapse; border:1px solid #ccc; height:25px; text-align:left; padding-left:10px;}
	table{ font-size:12px;}
	h4,h3 { color: #006;}
	.title{ font-size:14px;color: #006; font-weight:bold;}
	li{padding-top:5px; }
	
</style>
<div style="width:800px; margin:auto; background-color:#ffffff;">

<table style="width:100%; border-collapse: collapse;">
    <tr>
    	<td width="45%" colspan="3" style="background-color:#b8cce3" ><strong>Client’s references</strong></td>
        <td width="10%"></td>
        <td width="45%" colspan="3" style="background-color:#b8cce3"><strong>Quotation’s details</strong></td>
    </tr>
    <tr>
        <td width="15%">Fullname</td>
        <td width="2%"> : </td>
        <td>%nom%</td>
        <td width="10%"></td>
        <td width="15%">Reference</td>
        <td width="2%"> : </td>
        <td>%reference%</td>
    </tr>
    <tr>
        <td width="15%">Nationality</td>
        <td width="2%"> : </td>
        <td>%nationality%</td>
        <td width="10%"></td>
        <td width="15%">Prepared by</td>
        <td width="2%"> : </td>
        <td>%by%</td>
    </tr>
    <tr>
        <td width="15%">Country of residence</td>
        <td width="2%"> : </td>
        <td>%residence%</td>
        <td width="10%"></td>
        <td width="15%">Email</td>
        <td width="2%"> : </td>
        <td>%email_by%</td>
    </tr>
    <tr>
        <td width="15%">Email</td>
        <td width="2%"> : </td>
        <td>%email_client%</td>
        <td width="10%"></td>
        <td width="15%">Date</td>
        <td width="2%"> : </td>
        <td>%date_create%</td>
    </tr>
    <tr>
        <td width="15%">Phone number</td>
        <td width="2%"> : </td>
        <td>%tel_client%</td>
        <td width="10%"></td>
        <td width="15%">Valid until</td>
        <td width="2%"> : </td>
        <td>%valid_until%</td>
    </tr>
    <tr>
        <td width="15%">Occupation</td>
        <td width="2%"> : </td>
        <td>%profession%</td>
        <td width="10%"></td>
        <td width="15%"></td>
        <td width="2%">  </td>
        <td></td>
    </tr>
    <tr>
        <td width="15%">Dependent(s)</td>
        <td width="2%"> : </td>
        <td>%pax%</td>
        <td width="10%"></td>
        <td width="15%"></td>
        <td width="2%">  </td>
        <td></td>
    </tr>
</table>
<br />
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">%indications%</td>
    </tr>
</table>

<h4>Important notes : </h4>
<table style="width:100%; border:none;">
	<tr>
    	<td style="border: none;" colspan="2">
    	<ul >
    		<li>Enrollment is subject to the acceptance of your application by the insurer.</li>
    		
    		<li>Premiums are subject to confirmation from the insurance company upon acceptance of the application.</li>
    		
    		<li>All applicants may be required to fill in a confidential medical history form that may affect the final amountof the premiums initially presented in this document.</li>
    		
    		<li>When eligible, installment payment may be subject to additional fees.</li>
    		
    		<li>Local cash payment subject to USD 60 fees to cover international bank transfer fees to the insurer.</li>
    		
    		<li><strong>All our insurance policies include medical assistance (evacuation / repatriation).</strong></li>
    	</ul>
    	</td>
    </tr>
</table>

<pagebreak />

%module_details%


</div>