RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^sign-in/?$    signin-form.php    [NC,L]
RewriteRule    ^index/?$    index.php    [NC,L]
RewriteRule    ^newproduct/?$    new_product.php    [NC,L]
RewriteRule    ^newuser/?$    new_user.php    [NC,L]
RewriteRule    ^product/?$    product_list.php    [NC,L]
RewriteRule    ^product-details/?$    product_details.php    [NC,L]
RewriteRule    ^add-plan/?$    product_add_plan.php    [NC,L]
RewriteRule    ^edit-plan/?$    product_edit_plan.php    [NC,L]
RewriteRule    ^currency/?$    currency_list.php    [NC,L]
RewriteRule    ^quote-result/?$    get_quote_result.php    [NC,L]
RewriteRule    ^quotes/?$    all_quotes.php    [NC,L]
RewriteRule    ^delete-quote/?$    delete_quote.php    [NC,L]
RewriteRule    ^view-quote/?$    view_quotation.php    [NC,L]
RewriteRule    ^login-page/?$    login-page.php    [NC,L]
RewriteRule    ^logout/?$    logout_process.php    [NC,L]
RewriteRule    ^edit-client-info/?$    edit_applicant_information_form.php    [NC,L]
RewriteRule    ^users/?$    all_user.php    [NC,L]
RewriteRule    ^duplicate/?$    duplicate_quote.php    [NC,L]

